<app-navbar></app-navbar>
<!-- Carrossel-->
<header>
  <div class="bg-image">
    <img class="bg-image" [src]="jogoDetalhe.diretorioImagem" alt="">
  </div>
</header>
<!-- Section-->
<section class="py-5">
  <div class="container bg-dark text-light sm" style="height: 400px;">
    <div>
      Nome : {{jogoDetalhe.nome}}
      {{jogoDetalhe.descricao}}
    </div>
  
    <div class="videoJogo" >
      <iframe class="video" [src]="getUrlSafe(jogoDetalhe.urlVideoDemonstracao)" allowfullscreen></iframe>
    </div>
  </div>
  
</section>
