<div class="container px-4 px-lg-5 mt-5">
  <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div *ngFor="let jogo of jogos" class="col mb-5">
          <div class="card h-100">
              <!-- Sale badge-->
              <div
                *ngIf="jogo.vendido"
                class="badge bg-success text-white position-absolute"
                style="top: 0.5rem; right: 0.5rem">Vendido
              </div>
              <!-- Product image-->
              <img class="card-img-top" [src]="jogo.diretorioImagem" alt="..." />
              <!-- Product details-->
              <div class="card-body p-4">
                  <div class="text-center">
                      <!-- Product name-->
                      <h5 class="fw-bolder">{{jogo.nome}}</h5>
                      <!-- Product reviews-->
                      <div class="d-flex justify-content-center small text-warning mb-2">
                          <div *ngFor="let estrela of getEstrelas(jogo)" class="bi-star-fill"></div>
                      </div>
                      <!-- Product price-->
                      <span class="text-decoration-line">{{jogo.preco | currency: 'BRL'}}</span>
                  </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <div class="text-center">
                    <a class="btn btn-outline-dark mt-auto" routerLink="/cadastro" routerLinkActive="active" >
                      Ver detalhes
                    </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
