<nav class="navbar navbar-expand-lg"
    [class.navbar-dark]="modoDarkOrLight"
    [class.bg-light]="!modoDarkOrLight"
    [class.navbar-light]="!modoDarkOrLight"
    [class.bg-dark]="modoDarkOrLight"
    >
    <div class="container px-4 px-lg-5">
        <a class=" navbar-brand" ><img src="assets/GameCom.png" alt="" style=" width:auto; height: 50px;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" routerLink="/home">Início</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/about">Sobre</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Loja</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Todos os produtos</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Ofertas</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn" type="submit"
                        [class.btn-outline-light]="modoDarkOrLight"
                        [class.btn-outline-dark]="!modoDarkOrLight">
                    <i class="bi-cart-fill me-1"></i>

                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
                <button class="btn" type="button"
                [ngClass]="{
                    'btn-outline-light': modoDarkOrLight,
                    'btn-outline-dark': !modoDarkOrLight
                }"
                (click)="toogle()">
                    <i class="bi"
                    [ngClass]="{
                            'bi-sun-fill': modoDarkOrLight,
                            'bi-moon-fill': !modoDarkOrLight
                    }"></i>
                </button>
            </form>
        </div>
    </div>
</nav>
